body {
    margin:  0;
    background-color:  black;
}
svg {
    background-color:  black;
    display: block;
    margin: 0 auto;
}
* {
    vector-effect: non-scaling-stroke;
    stroke-width: 1;
}

.gauge-tickmarks path, path.gauge-axis {
    vector-effect: non-scaling-stroke;
}
.panel-gauge text, .gauge text {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
    font-stretch: condensed;
    text-anchor:  middle;
    dominant-baseline:  central;
    fill: #aaa;
}
.gauge-face {
    fill: #333;
}
.gauge-axis {
    stroke: #ccc;
}
.gauge-axis-ticks {
    stroke: white;
}
.gauge-axis-dot, .gauge-axis-wedge {
    fill:  white;
    stroke:  none;
}

/*
.gauge-sector {
    fill: grey;
    stroke: none;
}
*/


.gauge-region.gauge-region-flaps {
    fill: #ccc;
}
.gauge-region.gauge-region-normal {
    fill: green;
}
.gauge-region.gauge-region-maximum {
    fill: red;
}
.gauge-region.gauge-region-idle {
    fill: blue;
}

.gauge-ticklabel-radial text {
    text-anchor: end;
}
.gauge-ticklabel-primary text {
    font-size: 125%;
}



.gauge-indicator-pointer {
    fill: #222;
    stroke: none;
    filter: url(#dropShadow2);
}
.indicator-needle {
    fill: red;
}
.indicator-blade {
    fill:  #e8e8e8;
    stroke: #aaa;
}

.gauge-indicator-pointer-aircraft-heading {
    stroke:  orange;
    stroke-width: 2;
    fill: none;
}
.gauge-indicator-pointer-aircraft-turn {
    fill: white;
    stroke: none;
}



.indicator-pin, .dimple-fg {
    fill: url(#dimple-gradient);
    fill-opacity: 0.25;
}


.screwslot rect {
    fill: #282828;
}
